<div id="walks">
<div class="container">
  <div class="title"><p>plimbari in natura</p></div>
<ngx-slick-carousel class="carousel"
                    #slickModal="slick-carousel"
                    [config]="slideConfig"
                    (init)="slickInit($event)"
                    (breakpoint)="breakpoint($event)"
                    (afterChange)="afterChange($event)"
                    (beforeChange)="beforeChange($event)">
  <div ngxSlickItem *ngFor="let slide of slides" class="slide">
    <img src="{{ slide.img }}" alt="">
  </div>
</ngx-slick-carousel>
  <button class="btn-next" (click)="next()">→</button>
  <button class="btn-prev" (click)="prev()">←</button>
  </div>
</div>
