
<div class="navbar">
  <div class="links">
    <div *ngFor="let item of ('assets/package.json' | fetch) ">
      <a href="#services">{{item.base.elements.menu.a}}</a>
      <a href="#walks">{{item.base.elements.menu.b}}</a>
      <a href="#fotosesii">{{item.base.elements.menu.c}}</a>
      <a href="#subscriptions">{{item.base.elements.menu.d}}</a>
      <a href="#promotion">{{item.base.elements.menu.e}}</a>
      <a href="#contact">{{item.base.elements.menu.f}}</a>
    </div>
  </div>
</div>

