@media only screen and (max-width: 767px) {
  .navbar{
    display: none;
  }
}
  .navbar{
  background: #FEFEFE;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: sticky;
  top: 0;
  z-index: 1000;
}
.links{
  height: 90px;
  padding-top: 20px;
  width: 100%;
  text-align: center;
}
a{
  text-decoration: none;
  font-family: Rouge Script, sans-serif;
  font-size: 32px;
  padding-left: 2%;
  color: #000000;
}
a:hover{
  color: #000000;
  text-decoration: underline;
}
a:active{
  color: #33A00C !important;
}
