<div class="authors">
<div class="container">
<ngx-slick-carousel class="carousel"
                    #slickModal="slick-carousel"
                    [config]="slideConfig1"
                    [config]="slideConfig2"
                    (init)="slickInit($event)"
                    (breakpoint)="breakpoint($event)"
                    (afterChange)="afterChange($event)"
                    (beforeChange)="beforeChange($event)">
  <div ngxSlickItem *ngFor="let slide of slides" class="slide">
    <div class="elements">
      <img src="{{ slide.img }}" class="author">
      <h1 style="margin-top: 10px">{{slide.name}}</h1>
      <div class="phone-number">
        <img src="{{slide.img2}}">
        <a href="">{{slide.number}}</a>
      </div>
      <div class="email">
       <img src="{{slide.img3}}">
       <a href="">{{slide.email}}</a>
      </div>
    </div>
  </div>
</ngx-slick-carousel>
  <button class="btn-next" (click)="next()">→</button>
  <button class="btn-prev" (click)="prev()">←</button>
</div>
</div>
