<div class="services">
  <div class="base">

    <div class="title-1" id="services">
      <div *ngFor="let item of ('assets/package.json' | fetch) ">
        <img src="{{item.services.img}}" class="background" alt="">
        <div class="title"><p>{{item.services.title}}</p></div>
      </div>
    </div>
    <div class="row">

      <div *ngFor="let item of items" class="service">
        <div class="column">
          <div class="horses"><img src="{{item.img}}" alt=""></div>
          <div class="info">
            <div *ngIf="show" class="text">{{item.text}}</div>
            <div *ngIf="!show" class="title-2">{{item.title}}</div>
            <p (click)="show = !show" class="more">{{show ? item.less : item.more}}</p>
            <p class="price">{{item.price}}</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

